# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env
*.env

# VS Code
.vscode/

# MacOS
.DS_Store

# pip-tools
*.txt~
